---
import AboutLayout from '../../layouts/AboutLayout.astro';
---

<AboutLayout title="Contributors | Headstone Addresses">
  <h1>Contributors</h1>
  <h2>Elaine Yip</h2>
  <p>Project Lead</p>
  <p><a href="/about/support">Consider supporting the project.</a></p>
  <h2>Abbie Schenk</h2>
  <p>Web Design and Developer</p>
  <p><a href="https://abbieschenk.com" target="_blank" rel="noreferrer noopener">Website</a></p>
  <h2>Melva Chen</h2>
  <p>Research Assistant and Linguistic Consultant</p>
  <h2>Adelina Creative</h2>
  <p>Brand Identity and Logo Design</p>
  <p><a href="https://adelinacreative.com" target="_blank" rel="noreferrer noopener">Website</a></p>
</AboutLayout>
