---
import AboutLayout from '../../layouts/AboutLayout.astro';
---

<AboutLayout title="Support | Headstone Addresses">
    <h1>Support</h1>
    <p>
        If you are interested in supporting this project or the creation of a similar project, please reach out via
        email to <a href="mailto:elaine.yip@ualberta.ca">Elaine Yip</a>.
    </p>
    <p>Funds would be used for:</p>
    <ul>
        <li>
            The purchase of flowers for on-site offerings. One stem of Chrysanthemum flowers is placed per site and
            purchased from local florist 藝濃軒 <a
                href="http://ArtsandFlorist.com"
                target="_blank"
                rel="noreferrer noopener">(Arts and Florist)</a
            >, a respectful gesture of greeting at each headstone visited prior to touching or brushing off dirt from
            the headstones.
        </li>
        <li>Digital transcription and analysis paid per hour of work.</li>
        <li>Data processing to update the website paid per hour of work.</li>
    </ul>
</AboutLayout>
