.timeslider {
    position: relative;
    margin-top: 1rem;
}

.timeslider.disabled .slider__range {
    background-color: var(--green-lightest);
}

.timeslider.disabled .thumb::-moz-range-thumb,
.timeslider.disabled .thumb::-webkit-slider-thumb {
    background-color: var(--green-lighter);
}

.slider {
    position: relative;
    width: 100%;
}

.slider__track,
.slider__range {
    position: absolute;
    height: 50px;
    border-radius: 3px;
}

.slider__track {
    width: 100%;
    z-index: 1;
    background-color: var(--light-grey);
}

.slider__range {
    z-index: 2;
    background-color: var(--green-lighter);
}

.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.thumb {
    position: absolute;
    top: 23px;
    width: 100%;
    height: 0;
    outline: none;
    pointer-events: none;
}

.thumb--left {
    z-index: 3;
    margin-left: -1px;
}

.thumb--right {
    z-index: 4;
}

.thumb::-webkit-slider-thumb,
.thumb::-moz-range-thumb {
    width: 12px;
    height: 54px;
    position: relative;
    border: none;
    border-radius: 0;
    background-color: var(--green);
    box-shadow: 0 0 1px 1px var(--light-grey);
    cursor: pointer;
    pointer-events: all;
}

.slider__values {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 55px;
    font-size: 12px;
}

.slider__right-value {
    text-align: right;
}
